<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL Helper</title>

    <link rel="stylesheet" href="./asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="./asset/css/app.css">
</head>
<body>
<div class="container" id="container">
    <div id="sql" class="alert alert-success" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-2">
            <label for="type">语句类型</label>
            <select id="type" class="change form-control" v-model="checkedType">
                <option v-for="type in types" v-bind="{ value: type.value }">{{ type.name }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="table">数据表</label>
            <select id="table" class="change form-control" v-model="checkedTable">
                <option v-for="tb in TbFd" v-bind="{ value: tb.table }">{{ tb.table }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>字段</label>
            <div class="field-box" v-for="fds in TbFd | kaka">
                <div class="field-item" v-for="fd in fds.field">
                	<!-- // TODO checkbox -->
                	<!-- <div class="checkbox">
                	      <input type="checkbox">
                	</div> -->
                    <label><input v-bind="{ name: fd }" type="checkbox" class="condition hidden"> {{ fd }} = </label>
                    <input id="i-{{ fd }}" v-bind="{ name: fd }" type="text" class="field form-control" placeholder="条件" condition=false>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button id="btn" class="btn btn-success btn-block">生成</button>
        </div>
    </div>

</div>

<script src="./asset/js/jquery-2.1.3.min.js"></script>
<script src="./asset/js/bootstrap.min.js"></script>
<script src="./asset/js/vue.min.js"></script>
<script src="./asset/js/utils.js"></script>
<script src="./asset/js/app.js"></script>
</body>
</html>