<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL Helper</title>

    <link rel="stylesheet" href="./asset/css/bootstrap.min.css">
</head>
<body>
<div class="container" id="container">
    <div id="sql" class="alert alert-success"></div>
    <div class="row">
        <div class="col-md-2">
            <label for="type">语句类型</label>
            <select id="type" class="change form-control" v-model="checkedType">
                <option v-for="type in types" v-bind="{ value: type.value }">{{ type.name }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="table">数据表</label>
            <select id="table" class="change form-control" v-model="checkedTable">
                <option v-for="tb in TbFd" v-bind="{ value: tb.table }">{{ tb.table }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>字段</label>
            <div class="field-box" v-for="fds in TbFd | kaka">
                <div class="field-item" v-for="fd in fds.field">
                    <label>{{ fd }} = </label>
                    <input v-bind="{ name: fd }" type="text" class="field form-control" placeholder="条件">
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button id="btn" class="btn btn-success">生成</button>
        </div>
    </div>

</div>

<script src="./asset/js/jquery-2.1.3.min.js"></script>
<script src="./asset/js/bootstrap.min.js"></script>
<script src="./asset/js/vue.min.js"></script>
<script src="./asset/js/app.js"></script>
<script>
    $(function () {
        var vmData = new Vue({
            el: "#container",

            data: {
                // table name 和 field name
                // 结构：[{table: "tableName", field: ["fd0", "fd1", ...]}, ...]
                TbFd: [],
                types: [
                    {name: "Insert", value: "INSERT"},
                    {name: "Delete", value: "DELETE"},
                    {name: "Update", value: "UPDATE"},
                    {name: "Query", value: "QUERY"}
                ],
                checkedType: "INSERT",
                checkedTable: "tb_role",
                // 结构：[{name: "fieldName", value: "fieldValue"}, ...]
                checkedField: []
            },

            methods: {
                // 通过检测input 的改变来动态修改语句。
                // 这个想法已经放弃，因为太难了⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄
//                fieldEdit: function (e) {
//                     方法内 `this` 指向 vm
//                     `event` 是原生 DOM 事件
//                    var fieldName = $(e.target).attr("name");
//                    var fieldValue = $(e.target).val();
//                    console.log(fieldName + ": " + fieldValue);
//                }
            }
        });

        // 自定义过滤器，返回指定表的所有字段
        // 过滤器参数未使用，因为我只需要触发它就可以了，真正需要的参数是checkedTable
        Vue.filter("kaka", function (table) {
//            return vmData.TbFd.filter(function (e) {
//                return e.table === vmData.checkedTable;
//            });
            return vmData.TbFd.filter((e) => {return (e.table === vmData.checkedTable)});
        });

        $.get("resolveDatabase.php", new Date().getTime(), function (result) {
            console.log(result);
            vmData.TbFd = result.retData;
        });

        var sql = "";
        function updateSQL() {
            if (vmData.checkedType === vmData.types[0].value) {
                var filedNameStr = "";
                var filedValueStr = "";
                vmData.checkedField.forEach(function (e, i, a) {
                    filedNameStr += e.name + ", ";
                    filedValueStr += e.value + ", ";
                });

                filedNameStr = filedNameStr.slice(0, -2);
                filedValueStr = filedValueStr.slice(0, -2);
                sql = `INSERT INTO ${vmData.checkedTable} (` + filedNameStr + `) VALUES (` + filedValueStr + `)`;
            } else if (vmData.checkedType === vmData.types[1].value) {
                let str = "";
                vmData.checkedField.forEach(function (e, i, a) {
                    str += e.name + " = " + e.value + " AND ";
                });
                str = str.slice(0, -5);
                sql = `DELETE FROM ${vmData.checkedTable} WHERE ` + str; //TODO delete condition
            } else if (vmData.checkedType === vmData.types[2].value) {
                let str = "";
                vmData.checkedField.forEach(function (e, i, a) {
                    str += e.name + " = " + e.value + ", ";
                });
                str = str.slice(0, -2);
                sql = `UPDATE ${vmData.checkedTable} SET ` + str + " WHERE "; //TODO update condition
            } else if (vmData.checkedType === vmData.types[3].value) {
                let str = "",
                    col = "*";
                vmData.checkedField.forEach(function (e, i, a) {
                    str += e.name + " = " + e.value + " AND ";
                });
                str = str.slice(0, -5);
                sql = `SELECT ` + col + ` FROM ${vmData.checkedTable} WHERE ` + str; //TODO select col and condition
            }

            $("#sql").html(`<code>${sql}</code>`);
        }

        // 标记有 class = change 的改变来动态修改SQL 语句
        // 主要就是几个 select 元素而已
        $(".change").change(function () {
            updateSQL();
        });

        // 通过最后手动点击来搜集填写的值
        $("#btn").click(function () {
            // 每次都读取页面上填写完毕的值，并在此之前清空原先的数组内容
            vmData.checkedField.length = 0;
            $(".field").each(function () {
                var fieldName = $(this).attr("name");
                var fieldValue = $(this).val();
                if (!isEmptyString(fieldValue)) {
//                    console.log(fieldName + ": " + fieldValue);
                    vmData.checkedField.push({name: fieldName, value: fieldValue});
                }
            });

            updateSQL();
        });

    });
</script>
</body>
</html>